<div class="container mt-5">
  <div class="card mb-3">
    <h5 class="card-header">Ogłoszenie 1</h5>
    <div class="card-body">
      <h5 class="card-title">Terminy obron dla studentów II stopnia</h5>
      <p class="card-text">Terminy obron dla studentów II stopnia zostały przypisane i widnieją w zakładce "Dla studenta".</p>
      <a href="#" class="btn btn-primary">Podgląd</a>
    </div>
  </div>

  <div class="card mb-3">
    <h5 class="card-header">Ogłoszenie 2</h5>
    <div class="card-body">
      <h5 class="card-title">Terminy obron dla studentów I stopnia</h5>
      <p class="card-text">Terminy obron dla studentów I stopnia zostały przypisane i widnieją w zakładce "Dla studenta".</p>
      <a href="#" class="btn btn-primary">Podgląd</a>
    </div>
  </div>

  <div class="card mb-3">
    <h5 class="card-header">Ogłoszenie 2</h5>
    <div class="card-body">
      <h5 class="card-title">Terminy obron dla studentów II stopnia</h5>
      <p class="card-text">Terminy obron dla studentów II stopnia zostały przypisane i widnieją w zakładce "Dla studenta".</p>
      <a href="#" class="btn btn-primary">Podgląd</a>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">Ogłoszenie 3</h5>
    <div class="card-body">
      <h5 class="card-title">Terminy obron dla studentów II stopnia</h5>
      <p class="card-text">Terminy obron dla studentów II stopnia zostały przypisane i widnieją w zakładce "Dla studenta".</p>
      <a href="#" class="btn btn-primary">Podgląd</a>
    </div>
  </div>
</div>
