<div class="col-md-12" *ngIf="authorized; else unauthorizedBlock">
  <div class="container">
    <div class="card card-container">
      <div class="header d-flex justify-content-center">
        <h1 class="center" translate="">assign-reviewer.title</h1>
      </div>
      <form
        name="form"
        (ngSubmit)="onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <fieldset>
            <label class="form-label" for="readOnlyInput1" translate="">assign-reviewer.form-title</label>
            <input class="form-control" id="readOnlyInput1" type="text" placeholder="{{thesis.title_pl}}" readonly="">
          </fieldset>
        </div>

        <div class="form-group">
          <fieldset>
            <label class="form-label" for="readOnlyInput2" translate="">assign-reviewer.form-desc</label>
            <textarea class="form-control" id="readOnlyInput2" type="text" placeholder="{{thesis.short_description}}" readonly="" rows="6"></textarea>
          </fieldset>
        </div>

        <div class="form-group">
          <fieldset>
            <label class="form-label" for="readOnlyInput3" translate="">assign-reviewer.form-author</label>
            <input class="form-control" id="readOnlyInput3" type="text" placeholder="{{thesis.students[0].email}}" readonly="">
          </fieldset>
        </div>

        <div class="form-group">
          <fieldset>
            <label class="form-label" for="readOnlyInput4" translate="">assign-reviewer.form-promoter</label>
            <input class="form-control" id="readOnlyInput4" type="text" placeholder="{{thesis.promoters[0].science_title}} {{thesis.promoters[0].first_name}} {{thesis.promoters[0].last_name}}" readonly="">
          </fieldset>
        </div>


        <h1 class="center" translate="">assign-reviewer.form-select-reviewer</h1>
        <div class="form-group">
           <span *ngIf="thesis.reviewers.length > 0; else AssignReviewer">
             <div class="form-group">
                    <fieldset>
                      <label class="form-label" for="readOnlyInput5" translate="">assign-reviewer.form-selected-reviewer</label>
                      <input class="form-control" id="readOnlyInput5" type="text" placeholder="{{thesis.reviewers[0].science_title}} {{thesis.reviewers[0].first_name}} {{thesis.reviewers[0].last_name}}" readonly="">
                    </fieldset>
             </div>

              <span translate="">assign-reviewer.table-button-change</span>
             <select class="form-control" id="reviewer" name="reviewer" ng-options="promoters" [(ngModel)]="form.reviewer">
              <option *ngFor="let promoter of promoters" [ngValue]="promoter.id_user" [disabled]="thesis.reviewers[0].id_user == promoter.id_user">{{promoter.science_title}} {{promoter.first_name}} {{promoter.last_name}}</option>
            </select>
          </span>
          <ng-template #AssignReviewer>
            <select class="form-control" id="reviewer" name="reviewer" ng-options="promoters" [(ngModel)]="form.reviewer">
              <option *ngFor="let promoter of promoters" [ngValue]="promoter.id_user">{{promoter.science_title}} {{promoter.first_name}} {{promoter.last_name}}</option>
            </select>
          </ng-template>

        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block" translate="">
            assign-reviewer.table-button-assign
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #unauthorizedBlock>
  Error 401 Unauthorized
</ng-template>

