<div class="container mt-5">
  <div class="header d-flex justify-content-center">
    <h1 class="center">Przydział recenzentów</h1>
  </div>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Temat</th>
      <th scope="col">Student</th>
      <th scope="col">Opiekun</th>
      <th scope="col">Recenzent</th>
      <th scope="col">Akcja</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of thesis; let i = index" [attr.data-index]="i">
      <th scope="row">{{ i + 1 }}</th>
      <td> class="text-center">{{ item.title_pl }}</td>
      <td> Imie Nazwisko</td>
      <td>Dr inż. Adam Adamski</td>
      <div class="form-group">
        <label for="promoter">Wybierz promotora</label>
        <select class="form-control" id="promoter" name="promoter" ng-options="promoters" [(ngModel)]="form.promoter">
          <option *ngFor="let promoter of promoters" [ngValue]="promoter.id_user">{{promoter.id_user}} {{promoter.science_title}} {{promoter.first_name}} {{promoter.last_name}}</option>
        </select>
      </div>
      <td><div class="btn btn-primary">Przydziel</div></td>
    </tr>
    </tbody>
  </table>
</div>
