<div class="container mt-5">
  <div class="header d-flex justify-content-center">
    <h1 class="center">Lista zgłoszonych tematów</h1>
  </div>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Temat</th>
      <th scope="col">Student</th>
      <th scope="col">Opiekun</th>
      <th scope="col">Status</th>
      <th scope="col">Zaznacz wszystko<input type="checkbox"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Przykładowy temat pracy dyplomowej 1</td>
      <td>111111@student.pwr.edu.pl</td>
      <td>Dr inż. Adam Adamski</td>
      <td>zgłoszona</td>
      <td><input type="checkbox"></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Przykładowy temat pracy dyplomowej 2</td>
      <td>111111@student.pwr.edu.pl</td>
      <td>Dr inż. Adam Adamski</td>
      <td>zgłoszona</td>
      <td><input type="checkbox"></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Przykładowy temat pracy dyplomowej 2</td>
      <td>111111@student.pwr.edu.pl</td>
      <td>Dr inż. Adam Adamski</td>
      <td>zgłoszona</td>
      <td><input type="checkbox"></td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <div class="btn btn-primary w-50">Zaakceptuj zaznaczone tematy</div>
  </div>

</div>
