<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand" translate="">app.title</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active" *ngIf="showStudentFeatures">
      <li class="nav-item">
        <a href="/thesis" class="nav-link" routerLink="thesis">Lista zgłoszonych tematów</a>
      </li>
      <li class="nav-item">
        <a href="/thesis/add" class="nav-link" routerLink="thesis/add" >Zgłoś nowy temat</a>
      </li>
      <li class="nav-item">
        <a href="/review-student" class="nav-link" routerLink="review-student">Lista recenzji</a>
      </li>
    </ul>

     <ul class="navbar-nav mr-auto" routerLinkActive="active" *ngIf="roles && roles.includes('ROLE_DEANS_REPRESENTATIVE')">
      <li class="nav-item">
        <a href="/reviewers-assignment" class="nav-link" routerLink="reviewers-assignment" translate="">app.nav</a>
      </li>
     </ul>

    <ul class="navbar-nav mr-auto" routerLinkActive="active" *ngIf="roles && roles.includes('ROLE_UNIVERSITY_EMPLOYEE')">
      <li class="nav-item">
        <a href="/thesis-promoter" class="nav-link" routerLink="thesis-promoter">Lista zgłoszonych tematów</a>
      </li>
      <li class="nav-item">
        <a href="/thesis/add-promoter" class="nav-link" routerLink="/thesis/add-promoter">Zgłoś nowy temat</a>
      </li>
      <li class="nav-item">
        <a href="/review" class="nav-link" routerLink="review">Lista recenzji</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto" routerLinkActive="active" *ngIf="roles && roles.includes('ROLE_PROGRAM_COMMISSION')">
      <li class="nav-item">
        <a href="/thesis/confirmation" class="nav-link" routerLink="thesis/confirmation">Zatwierdź tematy</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" routerLinkActive="active">
      <li class="nav-item mr-5">
        <button class="btn btn-success" (click)="changeLang('en')">English</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-success" (click)="changeLang('pl')">Polski</button>
      </li>
    </ul>


    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Zaloguj się</a>
      </li>
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Zarejestruj się</a>
      </li>
    </ul>


    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">


      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ email }}</a>
      </li>

      <li class="nav-item">


        <a href class="btn btn-danger" (click)="logout()" translate="">app.logout</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
