<div class="container mt-5">
  <div class="header d-flex justify-content-center">
    <h1 class="center">Twoje zgłoszone tematy</h1>
  </div>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Temat</th>
      <th scope="col">Student</th>
      <th scope="col">Status</th>
      <th scope="col">Data zgłoszenia</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of thesis; let i = index" [attr.data-index]="i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ item.title_pl }}</td>
      <td>
        <span *ngIf="item.students.length > 0; else NoStudent">{{ item.students[0].email }}</span>
        <ng-template #NoStudent>brak przypisanego studenta</ng-template>
      </td>
      <td>{{ item.status }}</td>
      <td>{{ item.creation_date.substring(0,10) }}</td>
    </tr>
    </tbody>
  </table>
</div>
